site_name: Analiza danych w naukach o Ziemi Projekt Zmiany Klimatyczne
docs_dir: docs
repo_url: https://github.com/eo-agh/daes-project-2425-zuhura-masamba

theme:
  name: material
  features:
    - navigation.sections
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search
  - mkdocs-jupyter:
      include_source: True
      ignore_h1_titles: True
      execute: false

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight

nav:
  - Strona główna: index.md
  - Projekt:
    - Opis: desc.md
    - Log: log.md
  - Kod:
    - EDA: notebooks/EDA.ipynb
    - Analiza trendu: notebooks/Trend.ipynb
    - Analiza zmienności: notebooks/Variability.ipynb
